.settings-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  /* background-color: red; */
  /* height: 100vh; */
  
}


.settings-content {
  flex: 1;
  padding: 40px;
  background-color: #ffffff; 
  border-radius: 8px;
  /* margin: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background-color: green; */
  /* width: 100%; */
}

.settings-content h1 {
  color: #2c3e50; 
  font-size: 32px;
  margin-bottom: 20px;

}

.settings-content p {
  color: #7f8c8d; 
  font-size: 18px;
  line-height: 1.6;
}

.settings-content {
  padding: 30px;
}
