
footer {
    background-color: #282c34;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin: auto;
    /* margin-top: 100px;  */
    height: 400px;
    z-index: 999;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    

  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
    
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 60px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  