.notFoundContainer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 20px;
    text-align: center;
    /* background-color: #f0f0f0; */
    
  }
  
  .notFoundTitle{
    font-size: 10rem;
    color: #ff4d4d;
    margin: 0;
  }
  
  .notFoundText{
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    max-width: 600px; 
  }
  
  .backHomeLink {
    margin-top: 20px;
    padding: 12px 25px;
    /* background-color: #4caf50; */
    background: rgb(109, 201, 126);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .backHomeLink:hover {
    background-color: #45a049;
    transform: translateY(-3px);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .notFoundTitle  {
      font-size: 6rem;
    }
  
    .notFoundText  {
      font-size: 1.2rem;
    }
  
    .backHomeLink {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .notFoundTitle  {
      font-size: 4rem;
    }
  
    .notFoundText  {
      font-size: 1rem;
    }
  
    .backHomeLink {
      padding: 8px 18px;
      font-size: 0.9rem;
    }
  }
  