.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;

  }

  .mainLogo{
    width: 100px;
    margin: auto;
  }
  
  .formWrapper {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .subText {
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .primaryButton {
    background-color: rgb(109, 201, 126);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .primaryButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .orDivider {
    color: #999;
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  
  .authButtons button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .googleButton {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .googleButton img{
    width: 40px;
    align-self: flex-end;
  }
  .microsoftButton {
    background-color: #00a4ef;
    color: white;
  }
  
  .appleButton {
    background-color: #000;
    color: white;
  }
  
  .footerText {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  
  .footerText a {
    color: #0a8bff;
    text-decoration: none;
  }
  
  .error {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 1rem;
  }
  


  