.friendRequestsPage {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fb;
  padding: 2rem;
  min-height: 100vh;
  flex:1;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.friendRequestsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  
}

.friendRequestItem {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 500px;
}

.friendRequestItem:hover {
  /* transform: translateY(-10px); */
}

.friendRequestContent {
  display: flex;
  padding: 1.5rem;
  align-items: center;
}

.profilePictureContainer {
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f4f7fb;
}

.profilePicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.requestDetails {
  flex-grow: 1;
}

.requestDetails h2 {
  font-size: 1.3rem;
  margin: 0;
  color: #333;
}

.location {
  color: #888;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.requestDetails p {
  font-size: 1rem;
  color: #555;
}

.requestActions {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #f9fafc;
  border-top: 1px solid #e0e4e9;
}

.acceptBtn, .rejectBtn, .contactBtn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.acceptBtn {
  background-color: rgb(109, 201, 126);
  color: white;
}

.acceptBtn:hover {
  background-color: #349669;
}

.rejectBtn {
  background-color: #d32f2f;
  color: white;
}

.contactBtn {
  background-color: #5c6bc0;
  color: white;
}

/* .contactBtn:hover {
  background-color: #3f51b5;
} */

.noRequestsText {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}

@media (max-width: 768px) {
  .friendRequestContent {
    flex-direction: column;
    align-items: flex-start;
  }

  .requestActions {
    flex-direction: column;
    gap: 10px;
  }

  .acceptBtn, .rejectBtn, .contactBtn {
    width: 100%;
  }
}

.noRequestsContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  animation: backgroundAnimation 6s infinite ease-in-out;
  padding: 20px;
  /* background-color: red; */
}

.noRequestsCard {
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  text-align: center;
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(10px);
  background-color: #e2e1e1;
  height: 320px;

}



.noRequestsIcon {
  margin-bottom: 20px;
}

.iconImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6dc97e;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



.noRequestsTitle {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.noRequestsDescription {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.actionButton {
  background: linear-gradient(135deg, #6dc97e, #4c9e61);
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

